* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: url(image1.png) no-repeat center center/cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-task-container {
    width: 350px;
    padding: 20px 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 3px;
    margin-bottom: 20px;

    display: flex;

}

input{
    flex: 5;
    margin-right: 10px;
    border: green solid 2px;
    border-radius: 8px;
    padding: 15px;
    font-size: 1.2rem;
}

#add-task {
    flex: 1;
    transition: .3s;

    font-size: 1.2rem;
    padding: 5px;

    background-color: #ffffff;
    color: green;

    border: green solid 2px;
    border-radius: 8px;
}

#add-task:hover {
    background-color: green;
    color: #ffffff;
}

.task {
    width: 350px;
    border-radius: 5px;
    background-color: #ffffff;
    
    margin-bottom: 5px;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* font-size: 22px; */

}

.task li {
    list-style: none;
    flex: 4;
    font-size: 1.2rem;
    padding: 5px;
    margin: 10px;
}

.checkTask {
    flex: 4;
    font-size: 1.2rem;

    background-color: #ffffff;
    color: green;
    
    
    border: none;
    border-radius: 5px;
    
}

.deleteTask {
    background-color: #ffffff;
    color: #00000090;
    font-size: 1.2rem;
    border: none;
    padding: 5px;
    margin-right: 10px;
}